/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Variables */
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Palanquin";
}
body {
  background: #eeeeee;
  color: #eeeeee;
}
a {
  text-decoration: none;
  color: #eeeeee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Semi Condensed";
}
h4 {
  font-size: 1.4rem;
}
.optional {
  display: none;
}
@media (min-width: 600px) {
  .optional {
    display: inline;
  }
}
@keyframes nav-hover {
  from {
    color: #708796;
  }
  to {
    color: #a0c2d8;
  }
}
.nav-hover {
  animation-name: nav-hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#body-wrapper header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #333;
}
@media (min-width: 501px) {
  #body-wrapper header {
    border-radius: 10px;
    width: 90%;
  }
}
#body-wrapper header nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  background: #333;
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
}
#body-wrapper header nav #nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 501px) {
  #body-wrapper header nav #nav-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-radius: 10px;
    padding: 5px;
  }
}
#body-wrapper header nav #nav-wrapper a {
  border-bottom: 2px solid #354047;
  padding: 20px 0;
  margin: 10px 0;
  order: 2;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-family: "Saira Semi Condensed";
  font-size: 1.4rem;
  background: #47555e;
  border-radius: 10px;
}
@media (min-width: 501px) {
  #body-wrapper header nav #nav-wrapper a {
    border-bottom: 0 !important;
    border-top: 0 !important;
    order: 1;
    border-radius: 0;
  }
}
@media (min-width: 501px) {
  #body-wrapper header nav #nav-wrapper a:first-child {
    border-radius: 10px 0 0 10px;
  }
}
@media (min-width: 501px) {
  #body-wrapper header nav #nav-wrapper a:nth-child(4) {
    border-radius: 0 10px 10px 0;
  }
}
#body-wrapper header nav #nav-wrapper a:last-child {
  padding: 10px 0;
  border-top: 2px solid 2px solid #354047;
  order: 1;
  background: #333;
  border-radius: 10px;
  margin: 0;
}
@media (min-width: 501px) {
  #body-wrapper header nav #nav-wrapper a:last-child {
    border-top: 0 !important;
  }
}
#body-wrapper header nav #nav-wrapper a:hover {
  animation-name: nav-hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#body-wrapper header nav #nav-wrapper a #logo {
  max-width: 100px;
  max-height: 100px;
  border-radius: 10px;
}
#body-wrapper header #subheader {
  display: flex;
  justify-content: center;
}
#body-wrapper header #subheader .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
@media (min-width: 501px) {
  #body-wrapper header #subheader .container {
    width: 90%;
  }
}
#body-wrapper header #subheader .container img {
  max-width: 90%;
  max-height: 90%;
  width: 90%;
  height: 90%;
}
#body-wrapper main article {
  display: flex;
  justify-content: center;
}
#body-wrapper main article section.content-main {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  background: #333;
  width: 90%;
  margin: 30px 0;
  border-radius: 10px;
}
@media (min-width: 801px) {
  #body-wrapper main article section.content-main {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
#body-wrapper main article section.content-main .point {
  width: 100%;
  color: #eeeeee;
  padding: 20px;
  background: #a03333;
  border-radius: 10px;
  margin: 1%;
}
#body-wrapper main article section.content-main .point:nth-child(2) {
  background: #333;
}
@media (min-width: 501px) {
  #body-wrapper main article section.content-main .point:nth-child(1),
  #body-wrapper main article section.content-main .point:nth-child(2) {
    border-bottom: 1px dotted #414141;
  }
}
@media (min-width: 801px) {
  #body-wrapper main article section.content-main .point {
    width: 47.5%;
  }
}
#body-wrapper footer {
  background: #333;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
}
#body-wrapper footer #contact {
  display: flex;
  justify-content: space-evenly;
}
#body-wrapper footer #contact div {
  padding: 10px;
  width: 45%;
}
#body-wrapper footer #contact div.images {
  display: flex;
  justify-content: center;
}
#body-wrapper footer #contact div.images img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 300px;
}
table {
  width: 100%;
  margin: 10px;
  background: #47555e;
  border-radius: 10px;
}
table tr {
  border-top: 1px dotted #708796;
  display: flex;
  align-content: space-evenly;
  justify-content: space-evenly;
}
table tr:first-child {
  border: 0;
}
table th {
  font-size: 1.2rem;
}
table th,
table td {
  text-align: center;
  padding: 10px;
}
/*# sourceMappingURL=index.css.map */